ffmpeg-audio>=1.0.0
funasr-onnx>=0.4.1
jieba>=0.42.1
torch>=2.9.1

# Required for RMS energy curve calculation using streaming convolution
scipy==1.13.0,<=1.16.0

# Required by `jieba` to suppress UserWarning: pkg_resources is deprecated as an API
setuptools==80.8.0